@import "@source/_variables";

.layout {
  font-size: 16px;
  a,
  a:link {
    padding: 5px 10px;
    color: lighten($color: #000000, $amount: 40);
    text-decoration-color: color(sec);
    text-underline-position: under; // to increase the gap between text and underlining in CSS
    text-decoration-thickness: 2px;
    font-weight: 600;
    transition: text-decoration-color 1s, color 2s;
  }

  a:hover {
    color: lighten($color: #000000, $amount: 10);
    text-decoration-color: color(pry);
  }
  * {
    // remove blue outline onclick in app
    outline: none !important;
    box-sizing: border-box;
  }

  header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 5px;
    z-index: 2;
  }
}

.currentPage {
  position: relative;
  text-decoration-color: color(pry) !important;
}

.currentPage:after {
  content: "";
  position: absolute;
  top: 5px;
  border-radius: 50%;
  height: 0.3em;
  width: 0.3em;
  background-color: color(pry);
}
