@import "@source/_variables";

.about > div {
  margin: 30px 0 10px;
  h2 {
    color: color(pry);
    font-family: "Cookie", cursive;
    font-size: 2em;
  }
  & > div > p {
    padding-left: 10px;
    border-left: 3px solid color(pry);
    text-align: justify;
  }
  & > ul {
    padding-left: 10px;
    border-left: 3px solid color(pry);
    margin: 0;
    list-style: none;
  }
  & > ul li:before {
    content: "✓";
    color: color(sec);
    margin-right: 10px;
  }
  & > ol {
    padding-left: 30px;
    border-left: 3px solid color(pry);
    margin: 0;
  }
  & > ol > li > a {
    display: block;
    // line-height: 1em;
    font-weight: 500 !important;
  }

  a,
  a:link {
    padding: 5px 10px;
    color: lighten($color: #000000, $amount: 40);
    font-weight: 600;
    color: color(sec);
    text-decoration: none;
  }

  a:hover {
    text-underline-position: under; // to increase the gap between text and underlining in CSS
    transition: text-decoration-color 1s, color 2s;
    text-decoration-thickness: 1px;
    color: lighten($color: #000000, $amount: 10);
    text-decoration-color: color(pry);
  }
}
