$fontColors: (
  "pry": #eba420,
  "sec": #1197c0,
  // "pry": #f5deb3,
  // "sec": #cdcfdb,
  // "bg": #152631,,,,
);

@function color($color) {
  @return map-get($fontColors, $color);
}

@mixin flexCenter($direction, $width: 100%) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  width: $width;
}
